/* cloor */
$Mischka: #dcdfe6;
$Shuttle-Gray: #656b79;
$Dodger-Blue: #26a2ff;
$Web-Orange: #FFA500;
$White: #fff;
$Black: #000;
$Oslo-Gray: #8f949a;
$Red: #FF0000;
$Aqua-Haze: #F6F8FA;
$Green: #00FF00;
$Wild-Sand: #F5F5F5;
$Napa: #ACA899;